.info-container {
    // background: url("../assets/images/bginfo.svg");
    width: 100%;
    // height: 100vh;
}

.info-wrapper {
    margin-top: 50px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    height: 40vh;
    // img {
    //     top: 100px;
    //     position: relative;
    // }
    h1 {
        color: #0A3D62;
        font-weight: 300;
        font-size: 2.25rem;
        font-family: "Poppins", sans-serif;
        // top: 50px;
        // position: sa;
    }
}
.info-details {
    margin-top: 50px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    
    p {
        color: #908D8D;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 0.875rem;
    }
}
.info-logos {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}